<?xml version="1.0"?>
<model>
  <name>TALOS Humanoid robot from PAL Robotics</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Olivier Stasse</name>
  </author>

  <description>
    TALOS Humanoid Robot in SDFormat

    The robot is originally available here:
    https://github.com/pal-robotics/talos_robot
  </description>

</model>

